systen-config/flows-auto.json
[
    {
        "id": "b940f0e527559f7c",
        "type": "tab",
        "label": "Driver",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f57e69f1e6b35e72",
        "type": "tab",
        "label": "Acquisition",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f766b79ac9267eef",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8667db704fef588d",
        "type": "subflow",
        "name": "gpio",
        "info": "",
        "category": "gpio",
        "in": [
            {
                "x": 140,
                "y": 160,
                "wires": [
                    {
                        "id": "b3aafc619028c5f0"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "direction",
                "type": "str",
                "value": "out",
                "ui": {
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "output"
                                },
                                "v": "out"
                            },
                            {
                                "l": {
                                    "en-US": "input"
                                },
                                "v": "in"
                            }
                        ]
                    }
                }
            },
            {
                "name": "label",
                "type": "str",
                "value": "216",
                "ui": {
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "D4"
                                },
                                "v": "216"
                            },
                            {
                                "l": {
                                    "en-US": "D5"
                                },
                                "v": "149"
                            },
                            {
                                "l": {
                                    "en-US": "D6"
                                },
                                "v": "200"
                            },
                            {
                                "l": {
                                    "en-US": "D7"
                                },
                                "v": "20"
                            },
                            {
                                "l": {
                                    "en-US": "D8"
                                },
                                "v": "19"
                            },
                            {
                                "l": {
                                    "en-US": "D9"
                                },
                                "v": "17"
                            },
                            {
                                "l": {
                                    "en-US": "D10"
                                },
                                "v": "16"
                            },
                            {
                                "l": {
                                    "en-US": "D11"
                                },
                                "v": "18"
                            },
                            {
                                "l": {
                                    "en-US": "D12"
                                },
                                "v": "168"
                            },
                            {
                                "l": {
                                    "en-US": "D13"
                                },
                                "v": "38"
                            },
                            {
                                "l": {
                                    "en-US": "D16"
                                },
                                "v": "51"
                            },
                            {
                                "l": {
                                    "en-US": "D17"
                                },
                                "v": "50"
                            },
                            {
                                "l": {
                                    "en-US": "D18"
                                },
                                "v": "79"
                            },
                            {
                                "l": {
                                    "en-US": "D19"
                                },
                                "v": "76"
                            },
                            {
                                "l": {
                                    "en-US": "D20"
                                },
                                "v": "77"
                            },
                            {
                                "l": {
                                    "en-US": "D21"
                                },
                                "v": "78"
                            },
                            {
                                "l": {
                                    "en-US": "D22"
                                },
                                "v": "194"
                            },
                            {
                                "l": {
                                    "en-US": "D23"
                                },
                                "v": "232"
                            },
                            {
                                "l": {
                                    "en-US": "D24"
                                },
                                "v": "15"
                            },
                            {
                                "l": {
                                    "en-US": "D25"
                                },
                                "v": "13"
                            },
                            {
                                "l": {
                                    "en-US": "D26"
                                },
                                "v": "12"
                            },
                            {
                                "l": {
                                    "en-US": "D27"
                                },
                                "v": "14"
                            }
                        ]
                    }
                }
            },
            {
                "name": "value",
                "type": "str",
                "value": "1",
                "ui": {
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "0"
                                },
                                "v": "0"
                            },
                            {
                                "l": {
                                    "en-US": "1"
                                },
                                "v": "1"
                            }
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#C0DEED",
        "icon": "node-red/arduino.png"
    },
    {
        "id": "cbf2f67a932a3e0a",
        "type": "subflow",
        "name": "fan",
        "info": "",
        "category": "gpio",
        "in": [
            {
                "x": 140,
                "y": 140,
                "wires": [
                    {
                        "id": "f3f8d5d0725e95c8"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#C0DEED",
        "icon": "node-red/arduino.png"
    },
    {
        "id": "5968b48ddb304189",
        "type": "group",
        "z": "f57e69f1e6b35e72",
        "name": "YDlidarX3",
        "style": {
            "label": true
        },
        "nodes": [
            "cde9ee48151f0216",
            "a38bd9abe09201b3",
            "d34c63af20839217",
            "d23ee54c41d5d3e8",
            "b37594f47c98ba27",
            "269815329dc6d3f0",
            "f4a2e6ea9d4e3f43",
            "08d2f170e94b70d6",
            "0e9a4697f12e10e1",
            "c8d0e543fcd06cb6",
            "0e20e65af980a813",
            "4571145d53219e4e",
            "7103611211eac8ae",
            "791867ee82c8e5ea",
            "38f2640a1aa2ab40",
            "6c3989eaf07e7085",
            "c6843b21f61729a8",
            "6e29bb32ca84b96f",
            "af5b0cd0ddf1af21",
            "cb2113eca2ca3154"
        ],
        "x": 74,
        "y": 299
    },
    {
        "id": "55ce1a9950b521b4",
        "type": "group",
        "z": "b940f0e527559f7c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "479279edd0f34bd5",
            "19e290947aade004",
            "532f9b39a618f585",
            "2f8e3db90d2d7e13",
            "fd3efebdc1aeacf9",
            "d1d11c9c5278c6a8",
            "9f17b37f3e7793e8",
            "860614e0969ef45e",
            "f16c327dc05e3ef9",
            "3f07d9eca5bd83be",
            "9190838da634eb8b",
            "fea9531eac43415a",
            "f799fa59b2dc28d9",
            "b968d8e7b59675b7",
            "38a137185db765f3",
            "6ccce8eccd3770f8",
            "d08003be1b5b19f7",
            "56d118bc23f759db",
            "bee33c315808171b",
            "95fe12f1f61b1c5e",
            "3e3d6e20de55d474",
            "8176c69583014019",
            "5ebd0ba2f5483eb0"
        ],
        "x": 54,
        "y": 99,
        "w": 1212,
        "h": 402
    },
    {
        "id": "2856e889dc21324a",
        "type": "group",
        "z": "b940f0e527559f7c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "144098eaf800a96e",
            "aea2941c1808de4b",
            "9ee71245d4c41c0e",
            "6652fc84e531eee3",
            "1225207c6ff5a354",
            "7c028ca8cd19e506",
            "cd152ee5bacd0677",
            "712652a3b28ad273"
        ],
        "x": 54,
        "y": 559,
        "w": 1112,
        "h": 142
    },
    {
        "id": "430141fbf79295d9",
        "type": "group",
        "z": "b940f0e527559f7c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fd5385e1c1c1e62f",
            "9b7c37f9b2eeb4a7",
            "bb1fa0a885789e40",
            "0f1f8c2681fbd555",
            "94883ccbe1c2bbef",
            "2fe7ca2192d8c2f5",
            "b76b7a1386bfd15b",
            "687b7e8a9486764c",
            "bbe1e1daf89f1482",
            "ce9f44b79fb63ac5",
            "41289a7193ec56da",
            "341536b40ab2681e",
            "f2099a64a5f0f530",
            "586bc9db9bfe53a7",
            "8111b64666e5e9cd",
            "66cba5dcdca54583",
            "6c61b220ad27b077",
            "9c034e4c6a1ea385",
            "4c3d45eb54b7999e",
            "5d87a704477aabd6",
            "77e7467d1a36a255",
            "1777abe285d3ca9f",
            "6050ddbbc18cba9e",
            "a487046215fa6650",
            "7a8f55e5383c8ced",
            "337d154590987cee",
            "e856e9bbd803e8d0",
            "b59e8f31bbee1f89",
            "0abb3a9051a8be69",
            "f68805f6b71bd015",
            "701343e828933832",
            "63c91f311f6ad2e8",
            "29807606674a5caa",
            "738156ac2a7c2e5b",
            "7c57fc1b9932b572",
            "912888047941bb35",
            "10170acc452724d0",
            "9165bff11c060545",
            "b1beff3b562204b7",
            "1b9112b1cd90bdf1",
            "034462219bd70310"
        ],
        "x": 54,
        "y": 739,
        "w": 2352,
        "h": 482
    },
    {
        "id": "8122368c96e2a74e",
        "type": "group",
        "z": "f766b79ac9267eef",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f0b7ec3217af94d8",
            "8d196fd246544dfd",
            "0745329d49586aef",
            "09c0daad6cb4a979",
            "8b935ba08b4345a5",
            "923298c7b2cb3f22",
            "5dc6dd1185d5284e"
        ],
        "x": 134,
        "y": 379
    },
    {
        "id": "27a7c7735c2dec5c",
        "type": "group",
        "z": "f766b79ac9267eef",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ff95a4d4ec077c89",
            "e6bb9f98bd96a126",
            "b4a4d91769a7ae58",
            "cc866146f84a0fb8",
            "e95bbb6011dab45e",
            "5b5be59361610af3",
            "8001221348164d35",
            "16dccd5a9a05cdff"
        ],
        "x": 134,
        "y": 79
    },
    {
        "id": "5258345fe8f8064f",
        "type": "junction",
        "z": "8667db704fef588d",
        "x": 820,
        "y": 160,
        "wires": [
            [
                "9371cf46276ae5d0"
            ]
        ]
    },
    {
        "id": "f2099a64a5f0f530",
        "type": "junction",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "x": 660,
        "y": 900,
        "wires": [
            [
                "ce9f44b79fb63ac5"
            ]
        ]
    },
    {
        "id": "586bc9db9bfe53a7",
        "type": "junction",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "x": 660,
        "y": 940,
        "wires": [
            [
                "b76b7a1386bfd15b",
                "bbe1e1daf89f1482"
            ]
        ]
    },
    {
        "id": "4c3d45eb54b7999e",
        "type": "junction",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "x": 2100,
        "y": 800,
        "wires": [
            [
                "9c034e4c6a1ea385"
            ]
        ]
    },
    {
        "id": "7a8f55e5383c8ced",
        "type": "junction",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "x": 2100,
        "y": 840,
        "wires": [
            [
                "9c034e4c6a1ea385"
            ]
        ]
    },
    {
        "id": "f68805f6b71bd015",
        "type": "junction",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "x": 2100,
        "y": 880,
        "wires": [
            [
                "9c034e4c6a1ea385"
            ]
        ]
    },
    {
        "id": "701343e828933832",
        "type": "junction",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "x": 2100,
        "y": 920,
        "wires": [
            [
                "9c034e4c6a1ea385"
            ]
        ]
    },
    {
        "id": "63c91f311f6ad2e8",
        "type": "junction",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "x": 2100,
        "y": 1000,
        "wires": [
            [
                "9c034e4c6a1ea385"
            ]
        ]
    },
    {
        "id": "034462219bd70310",
        "type": "junction",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "x": 2100,
        "y": 1140,
        "wires": [
            [
                "9c034e4c6a1ea385"
            ]
        ]
    },
    {
        "id": "fc9f7d7d7f09ed4a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#555753",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#555753",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#555753",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#7b7e78",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#555753",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cf04793d64cc8d9f",
        "type": "ui_tab",
        "name": "System Manager",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a425446c30ef1936",
        "type": "ui_tab",
        "name": "System Acquisition",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "26efa8b3edfbcd2c",
        "type": "ui_group",
        "name": "Terminal",
        "tab": "cf04793d64cc8d9f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "6343f24e788b14f8",
        "type": "ui_group",
        "name": "Driver",
        "tab": "a425446c30ef1936",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3fceefba9605fc0b",
        "type": "ui_group",
        "name": "Motor Left Power",
        "tab": "a425446c30ef1936",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "88b21ca230de636a",
        "type": "ui_group",
        "name": "Motor Right Power",
        "tab": "a425446c30ef1936",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc01ce378553e70d",
        "type": "ui_group",
        "name": "Gamepad",
        "tab": "cf04793d64cc8d9f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3767334d184fc09d",
        "type": "ui_group",
        "name": "FAN",
        "tab": "cf04793d64cc8d9f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d712df0889992fd4",
        "type": "ui_group",
        "name": "Lidar",
        "tab": "cf04793d64cc8d9f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "14f8d4f87b6a5bb3",
        "type": "ui_spacer",
        "z": "f766b79ac9267eef",
        "name": "spacer",
        "group": "26efa8b3edfbcd2c",
        "order": 2,
        "width": "0",
        "height": "0"
    },
    {
        "id": "ddde1ffee0c8ca12",
        "type": "ui_spacer",
        "z": "f766b79ac9267eef",
        "name": "spacer",
        "group": "26efa8b3edfbcd2c",
        "order": 4,
        "width": "0",
        "height": "0"
    },
    {
        "id": "8b3f3434743ae29b",
        "type": "ui_spacer",
        "z": "f766b79ac9267eef",
        "name": "spacer",
        "group": "26efa8b3edfbcd2c",
        "order": 6,
        "width": "0",
        "height": "0"
    },
    {
        "id": "1761afd27058e80c",
        "type": "ui_spacer",
        "z": "f57e69f1e6b35e72",
        "name": "spacer",
        "group": "3fceefba9605fc0b",
        "order": 2,
        "width": "1",
        "height": "2"
    },
    {
        "id": "7e2f6cfb062f17e6",
        "type": "ui_spacer",
        "z": "f57e69f1e6b35e72",
        "name": "spacer",
        "group": "88b21ca230de636a",
        "order": 3,
        "width": "1",
        "height": "2"
    },
    {
        "id": "6890ae6be9b48170",
        "type": "ui_tab",
        "name": "Lidar",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f85de3c5dfa207ad",
        "type": "ui_group",
        "name": "Stremer",
        "tab": "6890ae6be9b48170",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2636710ae535fd18",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "38400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\r\\n",
        "responsetimeout": "10000"
    },
    {
        "id": "399aad772a5fec43",
        "type": "inject",
        "z": "8667db704fef588d",
        "name": "",
        "props": [
            {
                "p": "direction",
                "v": "direction",
                "vt": "env"
            },
            {
                "p": "label",
                "v": "label",
                "vt": "env"
            },
            {
                "p": "value",
                "v": "value",
                "vt": "env"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "81bed622b9c0525f"
            ]
        ]
    },
    {
        "id": "81bed622b9c0525f",
        "type": "template",
        "z": "8667db704fef588d",
        "name": "export",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "echo {{label}} > /sys/class/gpio/export",
        "output": "str",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "136ef5b07177ea8f"
            ]
        ]
    },
    {
        "id": "76fd67ef60cacc07",
        "type": "template",
        "z": "8667db704fef588d",
        "name": "direction",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "sh -c \"echo {{direction}} > /sys/class/gpio/gpio{{label}}/direction\"",
        "output": "str",
        "x": 640,
        "y": 80,
        "wires": [
            [
                "7052de5fd7d8283a"
            ]
        ]
    },
    {
        "id": "136ef5b07177ea8f",
        "type": "exec",
        "z": "8667db704fef588d",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 80,
        "wires": [
            [
                "76fd67ef60cacc07"
            ],
            [],
            []
        ]
    },
    {
        "id": "7052de5fd7d8283a",
        "type": "exec",
        "z": "8667db704fef588d",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 770,
        "y": 80,
        "wires": [
            [
                "9371cf46276ae5d0"
            ],
            [],
            []
        ]
    },
    {
        "id": "faf1c682786169ed",
        "type": "exec",
        "z": "8667db704fef588d",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1090,
        "y": 120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9371cf46276ae5d0",
        "type": "template",
        "z": "8667db704fef588d",
        "name": "write",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "sh -c \"echo {{value}} > /sys/class/gpio/gpio{{label}}/value\"",
        "output": "str",
        "x": 970,
        "y": 120,
        "wires": [
            [
                "faf1c682786169ed"
            ]
        ]
    },
    {
        "id": "b3aafc619028c5f0",
        "type": "change",
        "z": "8667db704fef588d",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "label",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "5258345fe8f8064f"
            ]
        ]
    },
    {
        "id": "2575c66f9cc491bf",
        "type": "exec",
        "z": "cbf2f67a932a3e0a",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "pwm-fan",
        "x": 620,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a1fc4f1cf5ba8ad3",
        "type": "template",
        "z": "cbf2f67a932a3e0a",
        "name": "pwm-fan",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "sh -c \"echo {{pwm-fan}} > /sys/devices/pwm-fan/target_pwm\"",
        "output": "str",
        "x": 480,
        "y": 140,
        "wires": [
            [
                "2575c66f9cc491bf"
            ]
        ]
    },
    {
        "id": "f3f8d5d0725e95c8",
        "type": "change",
        "z": "cbf2f67a932a3e0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pwm-fan",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "a1fc4f1cf5ba8ad3"
            ]
        ]
    },
    {
        "id": "fd5385e1c1c1e62f",
        "type": "json",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 920,
        "wires": [
            [
                "bb1fa0a885789e40",
                "0f1f8c2681fbd555"
            ]
        ]
    },
    {
        "id": "9b7c37f9b2eeb4a7",
        "type": "udp in",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "",
        "iface": "",
        "port": "42420",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 140,
        "y": 920,
        "wires": [
            [
                "2fe7ca2192d8c2f5"
            ]
        ]
    },
    {
        "id": "bb1fa0a885789e40",
        "type": "switch",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "type",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "42",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 570,
        "y": 920,
        "wires": [
            [
                "f2099a64a5f0f530"
            ],
            [
                "f2099a64a5f0f530"
            ],
            [
                "586bc9db9bfe53a7"
            ],
            [
                "586bc9db9bfe53a7"
            ]
        ]
    },
    {
        "id": "0f1f8c2681fbd555",
        "type": "debug",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "gamepad all",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 860,
        "wires": []
    },
    {
        "id": "479279edd0f34bd5",
        "type": "inject",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "event",
                "v": "2",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "9f17b37f3e7793e8"
            ]
        ]
    },
    {
        "id": "19e290947aade004",
        "type": "switch",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "532f9b39a618f585"
            ],
            [
                "2f8e3db90d2d7e13"
            ]
        ]
    },
    {
        "id": "532f9b39a618f585",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "ENABLED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ENABLED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 240,
        "wires": [
            [
                "860614e0969ef45e"
            ]
        ]
    },
    {
        "id": "2f8e3db90d2d7e13",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "DISABLED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DISABLED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 280,
        "wires": [
            [
                "860614e0969ef45e"
            ]
        ]
    },
    {
        "id": "fd3efebdc1aeacf9",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "driver status",
        "rules": [
            {
                "t": "set",
                "p": "driver_status",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "19e290947aade004"
            ]
        ]
    },
    {
        "id": "144098eaf800a96e",
        "type": "inject",
        "z": "b940f0e527559f7c",
        "g": "2856e889dc21324a",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "aea2941c1808de4b"
            ]
        ]
    },
    {
        "id": "aea2941c1808de4b",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "2856e889dc21324a",
        "name": "motors on flow",
        "rules": [
            {
                "t": "set",
                "p": "bzz",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "fpv_power",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "fpv_vertical",
                "pt": "flow",
                "to": "90",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "fpv_horizontal",
                "pt": "flow",
                "to": "90",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "ma_v",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "mb_v",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "ma_cmd",
                "pt": "flow",
                "to": "MAF",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mb_cmd",
                "pt": "flow",
                "to": "MBF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 660,
        "wires": [
            [
                "9ee71245d4c41c0e"
            ]
        ]
    },
    {
        "id": "9ee71245d4c41c0e",
        "type": "trigger",
        "z": "b940f0e527559f7c",
        "g": "2856e889dc21324a",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "date",
        "op2type": "nul",
        "duration": "-50",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 530,
        "y": 660,
        "wires": [
            [
                "7c028ca8cd19e506"
            ]
        ]
    },
    {
        "id": "d1d11c9c5278c6a8",
        "type": "comment",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "Inicia o detector de controle, e ativar Driver",
        "info": "Executa o programa \"gameped2.py\", que é responsavel pela detecção do controle e transmissão dos dados para o node-RED",
        "x": 240,
        "y": 140,
        "wires": []
    },
    {
        "id": "6652fc84e531eee3",
        "type": "comment",
        "z": "b940f0e527559f7c",
        "g": "2856e889dc21324a",
        "name": "transmitir dados do controle para o driver periodicamente",
        "info": "Os dados devem ser transmitidos de forma cadenciada, do contrário o driver irá perder comando. ",
        "x": 290,
        "y": 600,
        "wires": []
    },
    {
        "id": "94883ccbe1c2bbef",
        "type": "comment",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "Receber dados transmitido pelo programa do controle",
        "info": "O programa transmite localmente as informações do controle por UDP, esse método mostrou se simples e eficiente.",
        "x": 280,
        "y": 780,
        "wires": []
    },
    {
        "id": "2fe7ca2192d8c2f5",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "clean",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\\r",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\\n",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": " ",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 920,
        "wires": [
            [
                "fd5385e1c1c1e62f"
            ]
        ]
    },
    {
        "id": "b76b7a1386bfd15b",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "motor_left1",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "motor_left2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "motor_right1",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "motor_right2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 940,
        "wires": [
            [
                "687b7e8a9486764c"
            ]
        ]
    },
    {
        "id": "687b7e8a9486764c",
        "type": "debug",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "stop",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 940,
        "wires": []
    },
    {
        "id": "9f17b37f3e7793e8",
        "type": "ui_switch",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "",
        "label": "Motor Driver ",
        "tooltip": "",
        "group": "6343f24e788b14f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "fd3efebdc1aeacf9",
                "f16c327dc05e3ef9"
            ]
        ]
    },
    {
        "id": "860614e0969ef45e",
        "type": "ui_text",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "group": "6343f24e788b14f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "f16c327dc05e3ef9",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "boolean",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "5ebd0ba2f5483eb0"
            ]
        ]
    },
    {
        "id": "bbe1e1daf89f1482",
        "type": "debug",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "gameped connected",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 980,
        "wires": []
    },
    {
        "id": "3f07d9eca5bd83be",
        "type": "template",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "run gamepad2Server",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "systemctl start gamepad2Server.service",
        "output": "str",
        "x": 520,
        "y": 460,
        "wires": [
            [
                "fea9531eac43415a"
            ]
        ]
    },
    {
        "id": "9190838da634eb8b",
        "type": "ui_button",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "",
        "group": "dc01ce378553e70d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "black",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "3f07d9eca5bd83be"
            ]
        ]
    },
    {
        "id": "fea9531eac43415a",
        "type": "exec",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "gamepad2Server",
        "x": 750,
        "y": 400,
        "wires": [
            [
                "6ccce8eccd3770f8"
            ],
            [
                "6ccce8eccd3770f8",
                "d08003be1b5b19f7"
            ],
            [
                "56d118bc23f759db"
            ]
        ]
    },
    {
        "id": "f799fa59b2dc28d9",
        "type": "inject",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "9190838da634eb8b"
            ]
        ]
    },
    {
        "id": "b968d8e7b59675b7",
        "type": "template",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "run gamepad2Server",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "systemctl restart gamepad2Server.service",
        "output": "str",
        "x": 520,
        "y": 340,
        "wires": [
            [
                "fea9531eac43415a"
            ]
        ]
    },
    {
        "id": "38a137185db765f3",
        "type": "template",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "run gamepad2Server",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "systemctl stop gamepad2Server.service",
        "output": "str",
        "x": 520,
        "y": 400,
        "wires": [
            [
                "fea9531eac43415a"
            ]
        ]
    },
    {
        "id": "6ccce8eccd3770f8",
        "type": "ui_template",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "group": "dc01ce378553e70d",
        "name": "STDOUT",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<p><b>STDOUT:</b></p>\n<pre><code>\n{{msg.payload}}\n</code></pre>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 960,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d08003be1b5b19f7",
        "type": "debug",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 400,
        "wires": []
    },
    {
        "id": "56d118bc23f759db",
        "type": "debug",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 440,
        "wires": []
    },
    {
        "id": "bee33c315808171b",
        "type": "ui_button",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "",
        "group": "dc01ce378553e70d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Restart",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "b968d8e7b59675b7"
            ]
        ]
    },
    {
        "id": "95fe12f1f61b1c5e",
        "type": "ui_button",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "",
        "group": "dc01ce378553e70d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "black",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "38a137185db765f3"
            ]
        ]
    },
    {
        "id": "3e3d6e20de55d474",
        "type": "inject",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "bee33c315808171b"
            ]
        ]
    },
    {
        "id": "8176c69583014019",
        "type": "inject",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "stop",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "95fe12f1f61b1c5e"
            ]
        ]
    },
    {
        "id": "5ebd0ba2f5483eb0",
        "type": "subflow:8667db704fef588d",
        "z": "b940f0e527559f7c",
        "g": "55ce1a9950b521b4",
        "name": "rpi-gpio out",
        "env": [
            {
                "name": "label",
                "value": "12",
                "type": "str"
            },
            {
                "name": "value",
                "value": "0",
                "type": "str"
            }
        ],
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "1225207c6ff5a354",
        "type": "template",
        "z": "b940f0e527559f7c",
        "g": "2856e889dc21324a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.ma_cmd}}={{payload.ma_v}},{{payload.mb_cmd}}={{payload.mb_v}},BZZ={{payload.bzz}},FPV={{payload.fpv.power}},{{payload.fpv.vertical}},{{payload.fpv.horizontal}};",
        "output": "str",
        "x": 900,
        "y": 660,
        "wires": [
            [
                "cd152ee5bacd0677",
                "712652a3b28ad273"
            ]
        ]
    },
    {
        "id": "7c028ca8cd19e506",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "2856e889dc21324a",
        "name": "flow to payload",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.bzz",
                "pt": "msg",
                "to": "bzz",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.fpv.power",
                "pt": "msg",
                "to": "fpv_power",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.fpv.vertical",
                "pt": "msg",
                "to": "fpv_vertical",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.fpv.horizontal",
                "pt": "msg",
                "to": "fpv_horizontal",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.ma_v",
                "pt": "msg",
                "to": "ma_v",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.ma_cmd",
                "pt": "msg",
                "to": "ma_cmd",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.mb_v",
                "pt": "msg",
                "to": "mb_v",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.mb_cmd",
                "pt": "msg",
                "to": "mb_cmd",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 660,
        "wires": [
            [
                "1225207c6ff5a354"
            ]
        ]
    },
    {
        "id": "ce9f44b79fb63ac5",
        "type": "switch",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "code",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "307",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "308",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "17",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "16",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 1050,
        "y": 900,
        "wires": [
            [
                "41289a7193ec56da"
            ],
            [
                "8111b64666e5e9cd"
            ],
            [
                "66cba5dcdca54583"
            ],
            [
                "1777abe285d3ca9f"
            ],
            [
                "e856e9bbd803e8d0"
            ],
            [
                "912888047941bb35"
            ]
        ]
    },
    {
        "id": "41289a7193ec56da",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "bzz",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 800,
        "wires": [
            [
                "4c3d45eb54b7999e"
            ]
        ]
    },
    {
        "id": "341536b40ab2681e",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "fpv_power",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 840,
        "wires": [
            [
                "7a8f55e5383c8ced"
            ]
        ]
    },
    {
        "id": "cd152ee5bacd0677",
        "type": "debug",
        "z": "b940f0e527559f7c",
        "g": "2856e889dc21324a",
        "name": "Serial out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 620,
        "wires": []
    },
    {
        "id": "712652a3b28ad273",
        "type": "serial out",
        "z": "b940f0e527559f7c",
        "g": "2856e889dc21324a",
        "name": "",
        "serial": "2636710ae535fd18",
        "x": 1070,
        "y": 660,
        "wires": []
    },
    {
        "id": "8111b64666e5e9cd",
        "type": "function",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "interruptor",
        "func": "\nif( msg.payload.value == 1 ){\n    flow.fpv_power = !flow.fpv_power;\n}\n\nmsg.payload.value = Number(flow.fpv_power );\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 840,
        "wires": [
            [
                "341536b40ab2681e"
            ]
        ]
    },
    {
        "id": "66cba5dcdca54583",
        "type": "function",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "dead zone filter",
        "func": "\n\n\nif (Math.abs( msg.payload.value ) < 2 ){\n    msg.payload.value = 2;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 880,
        "wires": [
            [
                "6c61b220ad27b077"
            ]
        ]
    },
    {
        "id": "6c61b220ad27b077",
        "type": "range",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "minin": "-2",
        "maxin": "32768",
        "minout": "90",
        "maxout": "180",
        "action": "scale",
        "round": false,
        "property": "payload.value",
        "name": "",
        "x": 1440,
        "y": 880,
        "wires": [
            [
                "5d87a704477aabd6"
            ]
        ]
    },
    {
        "id": "9c034e4c6a1ea385",
        "type": "debug",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "gamepad filtered",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2270,
        "y": 960,
        "wires": []
    },
    {
        "id": "5d87a704477aabd6",
        "type": "switch",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "limite",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1570,
        "y": 880,
        "wires": [
            [
                "29807606674a5caa"
            ]
        ]
    },
    {
        "id": "77e7467d1a36a255",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "fpv_vertical",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1860,
        "y": 880,
        "wires": [
            [
                "f68805f6b71bd015"
            ]
        ]
    },
    {
        "id": "1777abe285d3ca9f",
        "type": "function",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "dead zone filter",
        "func": "\nif (Math.abs( msg.payload.value ) < 2 ){\n    msg.payload.value = 2;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 920,
        "wires": [
            [
                "6050ddbbc18cba9e"
            ]
        ]
    },
    {
        "id": "6050ddbbc18cba9e",
        "type": "range",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "minin": "-2",
        "maxin": "32768",
        "minout": "90",
        "maxout": "180",
        "action": "scale",
        "round": false,
        "property": "payload.value",
        "name": "",
        "x": 1440,
        "y": 920,
        "wires": [
            [
                "738156ac2a7c2e5b"
            ]
        ]
    },
    {
        "id": "a487046215fa6650",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "fpv_horizontal",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1860,
        "y": 920,
        "wires": [
            [
                "701343e828933832"
            ]
        ]
    },
    {
        "id": "337d154590987cee",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "ma_cmd",
                "pt": "flow",
                "to": "MAF",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mb_cmd",
                "pt": "flow",
                "to": "MBF",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.value",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 960,
        "wires": [
            [
                "0abb3a9051a8be69"
            ]
        ]
    },
    {
        "id": "e856e9bbd803e8d0",
        "type": "switch",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "seletor",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "-1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1250,
        "y": 1000,
        "wires": [
            [
                "337d154590987cee"
            ],
            [
                "b59e8f31bbee1f89"
            ],
            [
                "7c57fc1b9932b572"
            ]
        ]
    },
    {
        "id": "b59e8f31bbee1f89",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "ma_cmd",
                "pt": "flow",
                "to": "MAB",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mb_cmd",
                "pt": "flow",
                "to": "MBB",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.value",
                "pt": "msg",
                "to": "50",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1000,
        "wires": [
            [
                "0abb3a9051a8be69"
            ]
        ]
    },
    {
        "id": "0abb3a9051a8be69",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "ma_v",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mb_v",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1000,
        "wires": [
            [
                "63c91f311f6ad2e8"
            ]
        ]
    },
    {
        "id": "29807606674a5caa",
        "type": "function",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "toFixed",
        "func": "msg.payload.value = msg.payload.value.toFixed(1)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 880,
        "wires": [
            [
                "77e7467d1a36a255"
            ]
        ]
    },
    {
        "id": "738156ac2a7c2e5b",
        "type": "function",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "toFixed",
        "func": "msg.payload.value = msg.payload.value.toFixed(1)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 920,
        "wires": [
            [
                "a487046215fa6650"
            ]
        ]
    },
    {
        "id": "7c57fc1b9932b572",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "ma_cmd",
                "pt": "flow",
                "to": "MAS",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mb_cmd",
                "pt": "flow",
                "to": "MBS",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.value",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1040,
        "wires": [
            [
                "0abb3a9051a8be69"
            ]
        ]
    },
    {
        "id": "912888047941bb35",
        "type": "switch",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "seletor",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "-1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1250,
        "y": 1140,
        "wires": [
            [
                "10170acc452724d0"
            ],
            [
                "9165bff11c060545"
            ],
            [
                "b1beff3b562204b7"
            ]
        ]
    },
    {
        "id": "10170acc452724d0",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "ma_cmd",
                "pt": "flow",
                "to": "MAF",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.value",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1100,
        "wires": [
            [
                "1b9112b1cd90bdf1"
            ]
        ]
    },
    {
        "id": "9165bff11c060545",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "mb_cmd",
                "pt": "flow",
                "to": "MBF",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.value",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1140,
        "wires": [
            [
                "1b9112b1cd90bdf1"
            ]
        ]
    },
    {
        "id": "b1beff3b562204b7",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "ma_cmd",
                "pt": "flow",
                "to": "MAS",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mb_cmd",
                "pt": "flow",
                "to": "MBS",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.value",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 1180,
        "wires": [
            [
                "1b9112b1cd90bdf1"
            ]
        ]
    },
    {
        "id": "1b9112b1cd90bdf1",
        "type": "change",
        "z": "b940f0e527559f7c",
        "g": "430141fbf79295d9",
        "name": "set to flow",
        "rules": [
            {
                "t": "set",
                "p": "ma_v",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mb_v",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 1140,
        "wires": [
            [
                "034462219bd70310"
            ]
        ]
    },
    {
        "id": "cde9ee48151f0216",
        "type": "udp in",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "",
        "iface": "",
        "port": "42421",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 180,
        "y": 660,
        "wires": [
            [
                "d34c63af20839217"
            ]
        ]
    },
    {
        "id": "a38bd9abe09201b3",
        "type": "debug",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "YDlidarx3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 660,
        "wires": []
    },
    {
        "id": "d34c63af20839217",
        "type": "json",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 660,
        "wires": [
            [
                "af5b0cd0ddf1af21"
            ]
        ]
    },
    {
        "id": "d23ee54c41d5d3e8",
        "type": "inject",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "38f2640a1aa2ab40"
            ]
        ]
    },
    {
        "id": "b37594f47c98ba27",
        "type": "debug",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 500,
        "wires": []
    },
    {
        "id": "269815329dc6d3f0",
        "type": "exec",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "ydlidarx3Server",
        "x": 760,
        "y": 460,
        "wires": [
            [
                "08d2f170e94b70d6"
            ],
            [
                "08d2f170e94b70d6",
                "c8d0e543fcd06cb6"
            ],
            [
                "b37594f47c98ba27"
            ]
        ]
    },
    {
        "id": "f4a2e6ea9d4e3f43",
        "type": "comment",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "Inicia Sensor Lidar",
        "info": "Executa o programa \"gameped2.py\", que é responsavel pela detecção do controle e transmissão dos dados para o node-RED",
        "x": 190,
        "y": 340,
        "wires": []
    },
    {
        "id": "08d2f170e94b70d6",
        "type": "ui_template",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "group": "d712df0889992fd4",
        "name": "STDOUT",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<p><b>STDOUT:</b></p>\n<pre><code>\n{{msg.payload}}\n</code></pre>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "0e9a4697f12e10e1",
        "type": "template",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "run ydlidarx3Server",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "systemctl restart ydlidarx3Server.service",
        "output": "str",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "269815329dc6d3f0"
            ]
        ]
    },
    {
        "id": "c8d0e543fcd06cb6",
        "type": "debug",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "0e20e65af980a813",
        "type": "template",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "run ydlidarx3Server",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "systemctl stop ydlidarx3Server.service",
        "output": "str",
        "x": 530,
        "y": 460,
        "wires": [
            [
                "269815329dc6d3f0"
            ]
        ]
    },
    {
        "id": "4571145d53219e4e",
        "type": "template",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "run ydlidarx3Server",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "systemctl start ydlidarx3Server.service",
        "output": "str",
        "x": 530,
        "y": 520,
        "wires": [
            [
                "269815329dc6d3f0"
            ]
        ]
    },
    {
        "id": "7103611211eac8ae",
        "type": "inject",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "stop",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "6c3989eaf07e7085"
            ]
        ]
    },
    {
        "id": "791867ee82c8e5ea",
        "type": "inject",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "c6843b21f61729a8"
            ]
        ]
    },
    {
        "id": "38f2640a1aa2ab40",
        "type": "ui_button",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "",
        "group": "d712df0889992fd4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Restart",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 400,
        "wires": [
            [
                "0e9a4697f12e10e1"
            ]
        ]
    },
    {
        "id": "6c3989eaf07e7085",
        "type": "ui_button",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "",
        "group": "d712df0889992fd4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "black",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 460,
        "wires": [
            [
                "0e20e65af980a813"
            ]
        ]
    },
    {
        "id": "c6843b21f61729a8",
        "type": "ui_button",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "",
        "group": "d712df0889992fd4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "black",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "4571145d53219e4e"
            ]
        ]
    },
    {
        "id": "6e29bb32ca84b96f",
        "type": "function",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "chaty setings",
        "func": "// Create data Object\nconst data = {\n    \"series\" : [\"position\"],\n    \"data\": [msg.payload.range],\n    \"labels\": [\"range\"],\n}\n\n// write data to msg.payload\nmsg.payload = [data]\n\n// return data object\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 740,
        "wires": [
            [
                "cb2113eca2ca3154"
            ]
        ]
    },
    {
        "id": "af5b0cd0ddf1af21",
        "type": "function",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "radians to degrees",
        "func": "msg.payload.angle\n\nfunction map_range(value, low1, high1, low2, high2) {\n    return low2 + (high2 - low2) * (value - low1) / (high1 - low1);\n}\n\n\nfor (let index = 0; index < msg.payload.angle.length; index++) {\n    msg.payload.angle[index] = msg.payload.angle[index] * (180/Math.PI);\n    msg.payload.angle[index] =  map_range(msg.payload.angle[index], -180.0, 180.0, 0.0, 360.0);\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 660,
        "wires": [
            [
                "a38bd9abe09201b3",
                "6e29bb32ca84b96f"
            ]
        ]
    },
    {
        "id": "cb2113eca2ca3154",
        "type": "ui_chart",
        "z": "f57e69f1e6b35e72",
        "g": "5968b48ddb304189",
        "name": "",
        "group": "f85de3c5dfa207ad",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "chart",
        "chartType": "polar-area",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "8",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "ff95a4d4ec077c89",
        "type": "exec",
        "z": "f766b79ac9267eef",
        "g": "27a7c7735c2dec5c",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 570,
        "y": 240,
        "wires": [
            [
                "8001221348164d35"
            ],
            [
                "8001221348164d35"
            ],
            []
        ]
    },
    {
        "id": "e6bb9f98bd96a126",
        "type": "change",
        "z": "f766b79ac9267eef",
        "g": "27a7c7735c2dec5c",
        "name": "build",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.command",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "ff95a4d4ec077c89"
            ]
        ]
    },
    {
        "id": "b4a4d91769a7ae58",
        "type": "ui_button",
        "z": "f766b79ac9267eef",
        "g": "27a7c7735c2dec5c",
        "name": "",
        "group": "26efa8b3edfbcd2c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clean Output",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "8001221348164d35"
            ]
        ]
    },
    {
        "id": "cc866146f84a0fb8",
        "type": "ui_button",
        "z": "f766b79ac9267eef",
        "g": "27a7c7735c2dec5c",
        "name": "",
        "group": "26efa8b3edfbcd2c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Power Off",
        "tooltip": "",
        "color": "black",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "poweroff",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "ff95a4d4ec077c89"
            ]
        ]
    },
    {
        "id": "e95bbb6011dab45e",
        "type": "ui_button",
        "z": "f766b79ac9267eef",
        "g": "27a7c7735c2dec5c",
        "name": "",
        "group": "26efa8b3edfbcd2c",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "reboot -h now",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "ff95a4d4ec077c89"
            ]
        ]
    },
    {
        "id": "5b5be59361610af3",
        "type": "ui_form",
        "z": "f766b79ac9267eef",
        "g": "27a7c7735c2dec5c",
        "name": "",
        "label": "",
        "group": "26efa8b3edfbcd2c",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Command",
                "value": "command",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "command": ""
        },
        "payload": "",
        "submit": "Exec",
        "cancel": "Clean",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "e6bb9f98bd96a126"
            ]
        ]
    },
    {
        "id": "8001221348164d35",
        "type": "ui_template",
        "z": "f766b79ac9267eef",
        "g": "27a7c7735c2dec5c",
        "group": "26efa8b3edfbcd2c",
        "name": "STDOUT",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<p><b>STDOUT:</b></p>\n<pre><code>\n{{msg.payload}}\n</code></pre>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f0b7ec3217af94d8",
        "type": "ui_slider",
        "z": "f766b79ac9267eef",
        "g": "8122368c96e2a74e",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "3767334d184fc09d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "09c0daad6cb4a979",
                "8d196fd246544dfd"
            ]
        ]
    },
    {
        "id": "8d196fd246544dfd",
        "type": "range",
        "z": "f766b79ac9267eef",
        "g": "8122368c96e2a74e",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 540,
        "y": 480,
        "wires": [
            [
                "0745329d49586aef"
            ]
        ]
    },
    {
        "id": "0745329d49586aef",
        "type": "subflow:cbf2f67a932a3e0a",
        "z": "f766b79ac9267eef",
        "g": "8122368c96e2a74e",
        "name": "",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "09c0daad6cb4a979",
        "type": "ui_text",
        "z": "f766b79ac9267eef",
        "g": "8122368c96e2a74e",
        "group": "3767334d184fc09d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "pwm",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 520,
        "wires": []
    },
    {
        "id": "8b935ba08b4345a5",
        "type": "inject",
        "z": "f766b79ac9267eef",
        "g": "8122368c96e2a74e",
        "name": "50%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "25",
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "f0b7ec3217af94d8"
            ]
        ]
    },
    {
        "id": "923298c7b2cb3f22",
        "type": "inject",
        "z": "f766b79ac9267eef",
        "g": "8122368c96e2a74e",
        "name": "100%",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 230,
        "y": 520,
        "wires": [
            [
                "f0b7ec3217af94d8"
            ]
        ]
    },
    {
        "id": "5dc6dd1185d5284e",
        "type": "comment",
        "z": "f766b79ac9267eef",
        "g": "8122368c96e2a74e",
        "name": "Controle do FAM da Jetson",
        "info": "",
        "x": 270,
        "y": 420,
        "wires": []
    },
    {
        "id": "16dccd5a9a05cdff",
        "type": "comment",
        "z": "f766b79ac9267eef",
        "g": "27a7c7735c2dec5c",
        "name": "Comando pata o sistyema",
        "info": "",
        "x": 290,
        "y": 120,
        "wires": []
    }
]