systen-config/flows-JETSON_NANO.json
[
    {
        "id": "1b74ef80f309d060",
        "type": "tab",
        "label": "Driver",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ee14ccbde4c62fc",
        "type": "tab",
        "label": "Acquisition",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ea4ea10d497d4a2",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "86db80df1a7d44c2",
        "type": "tab",
        "label": "TESTES",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8667db704fef588d",
        "type": "subflow",
        "name": "gpio",
        "info": "",
        "category": "gpio",
        "in": [
            {
                "x": 140,
                "y": 160,
                "wires": [
                    {
                        "id": "b3aafc619028c5f0"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "direction",
                "type": "str",
                "value": "out",
                "ui": {
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "output"
                                },
                                "v": "out"
                            },
                            {
                                "l": {
                                    "en-US": "input"
                                },
                                "v": "in"
                            }
                        ]
                    }
                }
            },
            {
                "name": "label",
                "type": "str",
                "value": "216",
                "ui": {
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "D4"
                                },
                                "v": "216"
                            },
                            {
                                "l": {
                                    "en-US": "D5"
                                },
                                "v": "149"
                            },
                            {
                                "l": {
                                    "en-US": "D6"
                                },
                                "v": "200"
                            },
                            {
                                "l": {
                                    "en-US": "D7"
                                },
                                "v": "20"
                            },
                            {
                                "l": {
                                    "en-US": "D8"
                                },
                                "v": "19"
                            },
                            {
                                "l": {
                                    "en-US": "D9"
                                },
                                "v": "17"
                            },
                            {
                                "l": {
                                    "en-US": "D10"
                                },
                                "v": "16"
                            },
                            {
                                "l": {
                                    "en-US": "D11"
                                },
                                "v": "18"
                            },
                            {
                                "l": {
                                    "en-US": "D12"
                                },
                                "v": "168"
                            },
                            {
                                "l": {
                                    "en-US": "D13"
                                },
                                "v": "38"
                            },
                            {
                                "l": {
                                    "en-US": "D16"
                                },
                                "v": "51"
                            },
                            {
                                "l": {
                                    "en-US": "D17"
                                },
                                "v": "50"
                            },
                            {
                                "l": {
                                    "en-US": "D18"
                                },
                                "v": "79"
                            },
                            {
                                "l": {
                                    "en-US": "D19"
                                },
                                "v": "76"
                            },
                            {
                                "l": {
                                    "en-US": "D20"
                                },
                                "v": "77"
                            },
                            {
                                "l": {
                                    "en-US": "D21"
                                },
                                "v": "78"
                            },
                            {
                                "l": {
                                    "en-US": "D22"
                                },
                                "v": "194"
                            },
                            {
                                "l": {
                                    "en-US": "D23"
                                },
                                "v": "232"
                            },
                            {
                                "l": {
                                    "en-US": "D24"
                                },
                                "v": "15"
                            },
                            {
                                "l": {
                                    "en-US": "D25"
                                },
                                "v": "13"
                            },
                            {
                                "l": {
                                    "en-US": "D26"
                                },
                                "v": "12"
                            },
                            {
                                "l": {
                                    "en-US": "D27"
                                },
                                "v": "14"
                            }
                        ]
                    }
                }
            },
            {
                "name": "value",
                "type": "str",
                "value": "1",
                "ui": {
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "en-US": "0"
                                },
                                "v": "0"
                            },
                            {
                                "l": {
                                    "en-US": "1"
                                },
                                "v": "1"
                            }
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#C0DEED",
        "icon": "node-red/arduino.png"
    },
    {
        "id": "cbf2f67a932a3e0a",
        "type": "subflow",
        "name": "fan",
        "info": "",
        "category": "gpio",
        "in": [
            {
                "x": 140,
                "y": 140,
                "wires": [
                    {
                        "id": "f3f8d5d0725e95c8"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#C0DEED",
        "icon": "node-red/arduino.png"
    },
    {
        "id": "5258345fe8f8064f",
        "type": "junction",
        "z": "8667db704fef588d",
        "x": 820,
        "y": 160,
        "wires": [
            [
                "9371cf46276ae5d0"
            ]
        ]
    },
    {
        "id": "7cfa19a2e524cefd",
        "type": "serial-port",
        "serialport": "/dev/ttyTHS1",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "10",
        "bin": "false",
        "out": "interbyte",
        "addchar": "\\n",
        "responsetimeout": "1000"
    },
    {
        "id": "fc9f7d7d7f09ed4a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#555753",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#555753",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#555753",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#7b7e78",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#555753",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cf04793d64cc8d9f",
        "type": "ui_tab",
        "name": "System Manager",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a425446c30ef1936",
        "type": "ui_tab",
        "name": "System Acquisition",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "26efa8b3edfbcd2c",
        "type": "ui_group",
        "name": "Terminal",
        "tab": "cf04793d64cc8d9f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "6343f24e788b14f8",
        "type": "ui_group",
        "name": "Driver",
        "tab": "a425446c30ef1936",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3fceefba9605fc0b",
        "type": "ui_group",
        "name": "Motor Left Power",
        "tab": "a425446c30ef1936",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "88b21ca230de636a",
        "type": "ui_group",
        "name": "Motor Right Power",
        "tab": "a425446c30ef1936",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "30353d458229c05b",
        "type": "ui_spacer",
        "z": "4ea4ea10d497d4a2",
        "name": "spacer",
        "group": "26efa8b3edfbcd2c",
        "order": 2,
        "width": "0",
        "height": "0"
    },
    {
        "id": "c532b0d9fe3f54e4",
        "type": "ui_spacer",
        "z": "4ea4ea10d497d4a2",
        "name": "spacer",
        "group": "26efa8b3edfbcd2c",
        "order": 4,
        "width": "0",
        "height": "0"
    },
    {
        "id": "e32111f57d357328",
        "type": "ui_spacer",
        "z": "4ea4ea10d497d4a2",
        "name": "spacer",
        "group": "26efa8b3edfbcd2c",
        "order": 6,
        "width": "0",
        "height": "0"
    },
    {
        "id": "2504fd717f7cff36",
        "type": "ui_spacer",
        "z": "8ee14ccbde4c62fc",
        "name": "spacer",
        "group": "3fceefba9605fc0b",
        "order": 2,
        "width": "1",
        "height": "2"
    },
    {
        "id": "e236855006ed37d8",
        "type": "ui_spacer",
        "z": "8ee14ccbde4c62fc",
        "name": "spacer",
        "group": "88b21ca230de636a",
        "order": 3,
        "width": "1",
        "height": "2"
    },
    {
        "id": "399aad772a5fec43",
        "type": "inject",
        "z": "8667db704fef588d",
        "name": "",
        "props": [
            {
                "p": "direction",
                "v": "direction",
                "vt": "env"
            },
            {
                "p": "label",
                "v": "label",
                "vt": "env"
            },
            {
                "p": "value",
                "v": "value",
                "vt": "env"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "81bed622b9c0525f"
            ]
        ]
    },
    {
        "id": "81bed622b9c0525f",
        "type": "template",
        "z": "8667db704fef588d",
        "name": "export",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "echo {{label}} > /sys/class/gpio/export",
        "output": "str",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "136ef5b07177ea8f"
            ]
        ]
    },
    {
        "id": "76fd67ef60cacc07",
        "type": "template",
        "z": "8667db704fef588d",
        "name": "direction",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "sh -c \"echo {{direction}} > /sys/class/gpio/gpio{{label}}/direction\"",
        "output": "str",
        "x": 640,
        "y": 80,
        "wires": [
            [
                "7052de5fd7d8283a"
            ]
        ]
    },
    {
        "id": "136ef5b07177ea8f",
        "type": "exec",
        "z": "8667db704fef588d",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 470,
        "y": 80,
        "wires": [
            [
                "76fd67ef60cacc07"
            ],
            [],
            []
        ]
    },
    {
        "id": "7052de5fd7d8283a",
        "type": "exec",
        "z": "8667db704fef588d",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 770,
        "y": 80,
        "wires": [
            [
                "9371cf46276ae5d0"
            ],
            [],
            []
        ]
    },
    {
        "id": "faf1c682786169ed",
        "type": "exec",
        "z": "8667db704fef588d",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1090,
        "y": 120,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9371cf46276ae5d0",
        "type": "template",
        "z": "8667db704fef588d",
        "name": "write",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "sh -c \"echo {{value}} > /sys/class/gpio/gpio{{label}}/value\"",
        "output": "str",
        "x": 970,
        "y": 120,
        "wires": [
            [
                "faf1c682786169ed"
            ]
        ]
    },
    {
        "id": "b3aafc619028c5f0",
        "type": "change",
        "z": "8667db704fef588d",
        "name": "set",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "label",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "5258345fe8f8064f"
            ]
        ]
    },
    {
        "id": "2575c66f9cc491bf",
        "type": "exec",
        "z": "cbf2f67a932a3e0a",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "pwm-fan",
        "x": 620,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a1fc4f1cf5ba8ad3",
        "type": "template",
        "z": "cbf2f67a932a3e0a",
        "name": "pwm-fan",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "sh -c \"echo {{pwm-fan}} > /sys/devices/pwm-fan/target_pwm\"",
        "output": "str",
        "x": 480,
        "y": 140,
        "wires": [
            [
                "2575c66f9cc491bf"
            ]
        ]
    },
    {
        "id": "f3f8d5d0725e95c8",
        "type": "change",
        "z": "cbf2f67a932a3e0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pwm-fan",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "a1fc4f1cf5ba8ad3"
            ]
        ]
    },
    {
        "id": "46e0b04cab40199a",
        "type": "json",
        "z": "1b74ef80f309d060",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 860,
        "wires": [
            [
                "6a46d6df6813c81c",
                "52f62959fd1a96cb"
            ]
        ]
    },
    {
        "id": "65596c16dc010ea0",
        "type": "udp in",
        "z": "1b74ef80f309d060",
        "name": "",
        "iface": "",
        "port": "42420",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 180,
        "y": 860,
        "wires": [
            [
                "d0bdb5282bfc1a11"
            ]
        ]
    },
    {
        "id": "6a46d6df6813c81c",
        "type": "switch",
        "z": "1b74ef80f309d060",
        "name": "type",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 610,
        "y": 860,
        "wires": [
            [
                "7a3cfe9e0a9ccb55"
            ],
            [
                "9016c66250c07612"
            ],
            [
                "9016c66250c07612"
            ]
        ]
    },
    {
        "id": "52f62959fd1a96cb",
        "type": "debug",
        "z": "1b74ef80f309d060",
        "name": "gamepad",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 760,
        "wires": []
    },
    {
        "id": "85a8e587146b89ba",
        "type": "serial out",
        "z": "1b74ef80f309d060",
        "name": "",
        "serial": "7cfa19a2e524cefd",
        "x": 1370,
        "y": 540,
        "wires": []
    },
    {
        "id": "44d4c44397294907",
        "type": "inject",
        "z": "1b74ef80f309d060",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 280,
        "wires": [
            [
                "6bf0496d781ef03a",
                "77534bbc79933f98"
            ]
        ]
    },
    {
        "id": "4322be7359c13e46",
        "type": "debug",
        "z": "1b74ef80f309d060",
        "name": "stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "6f03e7b938328681",
        "type": "debug",
        "z": "1b74ef80f309d060",
        "name": "stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "7399d8a4bca62233",
        "type": "debug",
        "z": "1b74ef80f309d060",
        "name": "code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "6bf0496d781ef03a",
        "type": "exec",
        "z": "1b74ef80f309d060",
        "command": "python3 /home/tars/voyager/gameped2.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "gameped2",
        "x": 410,
        "y": 200,
        "wires": [
            [
                "4322be7359c13e46"
            ],
            [
                "6f03e7b938328681"
            ],
            [
                "7399d8a4bca62233"
            ]
        ]
    },
    {
        "id": "397600f488bfd5aa",
        "type": "switch",
        "z": "1b74ef80f309d060",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 360,
        "wires": [
            [
                "a57ec06618806d60"
            ],
            [
                "73817894f00b1080"
            ]
        ]
    },
    {
        "id": "a57ec06618806d60",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "ENABLED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ENABLED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 340,
        "wires": [
            [
                "3532c2b0e1d1f231"
            ]
        ]
    },
    {
        "id": "73817894f00b1080",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "DISABLED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DISABLED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 380,
        "wires": [
            [
                "3532c2b0e1d1f231"
            ]
        ]
    },
    {
        "id": "446f5ea8330b72d7",
        "type": "range",
        "z": "1b74ef80f309d060",
        "minin": "0",
        "maxin": "64934",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "motor_left_conjunct",
        "name": "%",
        "x": 1690,
        "y": 760,
        "wires": [
            [
                "1a116ebaf199dd6c"
            ]
        ]
    },
    {
        "id": "cf5102e9e247b90a",
        "type": "range",
        "z": "1b74ef80f309d060",
        "minin": "0",
        "maxin": "64934",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "motor_right_conjunct",
        "name": "%",
        "x": 1690,
        "y": 800,
        "wires": [
            [
                "576e0f5067273c60"
            ]
        ]
    },
    {
        "id": "562324a837485fcf",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "driver status",
        "rules": [
            {
                "t": "set",
                "p": "driver_status",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "397600f488bfd5aa"
            ]
        ]
    },
    {
        "id": "7a3cfe9e0a9ccb55",
        "type": "switch",
        "z": "1b74ef80f309d060",
        "name": "is driver enabled?",
        "property": "driver_status",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 780,
        "wires": [
            [
                "cbb765303dd8227e"
            ]
        ]
    },
    {
        "id": "c907058360cff543",
        "type": "switch",
        "z": "1b74ef80f309d060",
        "name": "code",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1350,
        "y": 780,
        "wires": [
            [
                "33c1419ebc76802f"
            ],
            [
                "0966943da8206199"
            ]
        ]
    },
    {
        "id": "f34f4ee667678787",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "flow to payload",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.ml1",
                "pt": "msg",
                "to": "motor_left1",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.ml2",
                "pt": "msg",
                "to": "motor_left2",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.mr1",
                "pt": "msg",
                "to": "motor_right1",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.mr2",
                "pt": "msg",
                "to": "motor_right2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 520,
        "wires": [
            [
                "9b4d1e05f7744c52"
            ]
        ]
    },
    {
        "id": "9b4d1e05f7744c52",
        "type": "json",
        "z": "1b74ef80f309d060",
        "name": "JSON to String",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 980,
        "y": 520,
        "wires": [
            [
                "0a1d37bc36c92ef4"
            ]
        ]
    },
    {
        "id": "6053089771603b4c",
        "type": "debug",
        "z": "1b74ef80f309d060",
        "name": "Serial out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 500,
        "wires": []
    },
    {
        "id": "dd66f99c36d16637",
        "type": "inject",
        "z": "1b74ef80f309d060",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "b20ccccea1930615"
            ]
        ]
    },
    {
        "id": "b20ccccea1930615",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "motors on flow",
        "rules": [
            {
                "t": "set",
                "p": "motor_left1",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "motor_left2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "motor_right1",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "motor_right2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 520,
        "wires": [
            [
                "50b9723da6bbf5b7"
            ]
        ]
    },
    {
        "id": "50b9723da6bbf5b7",
        "type": "trigger",
        "z": "1b74ef80f309d060",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "date",
        "op2type": "nul",
        "duration": "-80",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "f34f4ee667678787"
            ]
        ]
    },
    {
        "id": "0a1d37bc36c92ef4",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "build command",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": ":",
                "fromt": "str",
                "to": "=",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\"",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "'",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "{",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "}",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 520,
        "wires": [
            [
                "6053089771603b4c",
                "85a8e587146b89ba"
            ]
        ]
    },
    {
        "id": "c8e488fa35041c46",
        "type": "comment",
        "z": "1b74ef80f309d060",
        "name": "Inicia o detector de controle, E ativar Driver",
        "info": "Executa o programa \"gameped2.py\", que é responsavel pela detecção do controle e transmissão dos dados para o node-RED",
        "x": 280,
        "y": 120,
        "wires": []
    },
    {
        "id": "6f7321e2a244e556",
        "type": "comment",
        "z": "1b74ef80f309d060",
        "name": "transmitir dados do controle para o driver periodicamente",
        "info": "Os dados devem ser transmitidos de forma cadenciada, do contrário o driver irá perder comando. ",
        "x": 330,
        "y": 460,
        "wires": []
    },
    {
        "id": "98971bc1ac6954fd",
        "type": "comment",
        "z": "1b74ef80f309d060",
        "name": "Receber dados transmitido pelo programa do controle",
        "info": "O programa transmite localmente as informações do controle por UDP, esse método mostrou se simples e eficiente.",
        "x": 320,
        "y": 720,
        "wires": []
    },
    {
        "id": "d0bdb5282bfc1a11",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "clean",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\\r",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\\n",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": " ",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 860,
        "wires": [
            [
                "46e0b04cab40199a"
            ]
        ]
    },
    {
        "id": "9016c66250c07612",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "motor_left1",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "motor_left2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "motor_right1",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "motor_right2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 940,
        "wires": [
            [
                "e8e29b94255e509e"
            ]
        ]
    },
    {
        "id": "e8e29b94255e509e",
        "type": "debug",
        "z": "1b74ef80f309d060",
        "name": "stop",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 940,
        "wires": []
    },
    {
        "id": "33c1419ebc76802f",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "motor left conjunct",
        "rules": [
            {
                "t": "set",
                "p": "motor_left1",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "motor_left2",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "motor_left_conjunct",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 760,
        "wires": [
            [
                "446f5ea8330b72d7"
            ]
        ]
    },
    {
        "id": "0966943da8206199",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "motor right conjunct",
        "rules": [
            {
                "t": "set",
                "p": "motor_right1",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "motor_right2",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "motor_right_conjunct",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1530,
        "y": 800,
        "wires": [
            [
                "cf5102e9e247b90a"
            ]
        ]
    },
    {
        "id": "cbb765303dd8227e",
        "type": "range",
        "z": "1b74ef80f309d060",
        "minin": "-32768",
        "maxin": "32767",
        "minout": "-64934",
        "maxout": "64934",
        "action": "clamp",
        "round": true,
        "property": "payload.value",
        "name": "remap value",
        "x": 1050,
        "y": 780,
        "wires": [
            [
                "60911b22af26fa30"
            ]
        ]
    },
    {
        "id": "60911b22af26fa30",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "offset",
        "rules": [
            {
                "t": "change",
                "p": "payload.value",
                "pt": "msg",
                "from": "-1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload.value",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 780,
        "wires": [
            [
                "c907058360cff543"
            ]
        ]
    },
    {
        "id": "1a116ebaf199dd6c",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "ABS",
        "rules": [
            {
                "t": "set",
                "p": "motor_left_conjunct",
                "pt": "msg",
                "to": "$abs(msg.motor_left_conjunct)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 760,
        "wires": [
            [
                "fca81e8796f84a51"
            ]
        ]
    },
    {
        "id": "576e0f5067273c60",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "ABS",
        "rules": [
            {
                "t": "set",
                "p": "motor_right_conjunct",
                "pt": "msg",
                "to": "$abs(msg.motor_right_conjunct)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 800,
        "wires": [
            [
                "c030b65218e2de62"
            ]
        ]
    },
    {
        "id": "77534bbc79933f98",
        "type": "ui_switch",
        "z": "1b74ef80f309d060",
        "name": "",
        "label": "Motor Driver ",
        "tooltip": "",
        "group": "6343f24e788b14f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "562324a837485fcf",
                "1b0bd4cb7a8dcb85"
            ]
        ]
    },
    {
        "id": "fca81e8796f84a51",
        "type": "ui_gauge",
        "z": "1b74ef80f309d060",
        "name": "",
        "group": "6343f24e788b14f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Left Conjunct",
        "label": "%",
        "format": "{{motor_left_conjunct}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1970,
        "y": 760,
        "wires": []
    },
    {
        "id": "c030b65218e2de62",
        "type": "ui_gauge",
        "z": "1b74ef80f309d060",
        "name": "",
        "group": "6343f24e788b14f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Right Conjunct",
        "label": "%",
        "format": "{{motor_right_conjunct}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1980,
        "y": 800,
        "wires": []
    },
    {
        "id": "3532c2b0e1d1f231",
        "type": "ui_text",
        "z": "1b74ef80f309d060",
        "group": "6343f24e788b14f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 360,
        "wires": []
    },
    {
        "id": "51bb9e1bc52ed1e1",
        "type": "subflow:8667db704fef588d",
        "z": "1b74ef80f309d060",
        "name": "rpi-gpio out",
        "env": [
            {
                "name": "label",
                "value": "12",
                "type": "str"
            },
            {
                "name": "value",
                "value": "0",
                "type": "str"
            },
            {
                "name": "board label",
                "value": "",
                "type": "str"
            }
        ],
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "1b0bd4cb7a8dcb85",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "boolean",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 300,
        "wires": [
            [
                "51bb9e1bc52ed1e1"
            ]
        ]
    },
    {
        "id": "fe7777783c037a35",
        "type": "serial in",
        "z": "8ee14ccbde4c62fc",
        "name": "",
        "serial": "7cfa19a2e524cefd",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "d07c2acac341588f"
            ]
        ]
    },
    {
        "id": "15166346c95d9f81",
        "type": "debug",
        "z": "8ee14ccbde4c62fc",
        "name": "serial read",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "38becfd094a34720",
        "type": "json",
        "z": "8ee14ccbde4c62fc",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "15166346c95d9f81",
                "bcbe53e103082453",
                "db4e5322d470d5d7",
                "2211d99bdbe794f0",
                "a6e157365651b3f7"
            ]
        ]
    },
    {
        "id": "bcbe53e103082453",
        "type": "range",
        "z": "8ee14ccbde4c62fc",
        "minin": "0",
        "maxin": "64934",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": true,
        "property": "payload.ml1.s",
        "name": "%",
        "x": 590,
        "y": 160,
        "wires": [
            [
                "148ebcc60971e509"
            ]
        ]
    },
    {
        "id": "db4e5322d470d5d7",
        "type": "range",
        "z": "8ee14ccbde4c62fc",
        "minin": "0",
        "maxin": "64934",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": true,
        "property": "payload.ml2.s",
        "name": "%",
        "x": 590,
        "y": 200,
        "wires": [
            [
                "e2ba795582babba1"
            ]
        ]
    },
    {
        "id": "2211d99bdbe794f0",
        "type": "range",
        "z": "8ee14ccbde4c62fc",
        "minin": "0",
        "maxin": "64934",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": true,
        "property": "payload.mr1.s",
        "name": "%",
        "x": 590,
        "y": 280,
        "wires": [
            [
                "ff3218fec29d496a"
            ]
        ]
    },
    {
        "id": "a6e157365651b3f7",
        "type": "range",
        "z": "8ee14ccbde4c62fc",
        "minin": "0",
        "maxin": "64934",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": true,
        "property": "payload.mr2.s",
        "name": "%",
        "x": 590,
        "y": 320,
        "wires": [
            [
                "0fb982e52edb278f"
            ]
        ]
    },
    {
        "id": "d07c2acac341588f",
        "type": "change",
        "z": "8ee14ccbde4c62fc",
        "name": "clean",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\\r",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "\\n",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": " ",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "38becfd094a34720"
            ]
        ]
    },
    {
        "id": "148ebcc60971e509",
        "type": "ui_gauge",
        "z": "8ee14ccbde4c62fc",
        "name": "",
        "group": "3fceefba9605fc0b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Left 1",
        "label": "%",
        "format": "{{payload.ml1.s}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "e2ba795582babba1",
        "type": "ui_gauge",
        "z": "8ee14ccbde4c62fc",
        "name": "",
        "group": "3fceefba9605fc0b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Left 2",
        "label": "%",
        "format": "{{payload.ml2.s}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "ff3218fec29d496a",
        "type": "ui_gauge",
        "z": "8ee14ccbde4c62fc",
        "name": "",
        "group": "88b21ca230de636a",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Right 1",
        "label": "%",
        "format": "{{payload.mr1.s}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "0fb982e52edb278f",
        "type": "ui_gauge",
        "z": "8ee14ccbde4c62fc",
        "name": "",
        "group": "88b21ca230de636a",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Right 2",
        "label": "%",
        "format": "{{payload.mr2.s}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "40859f5bdb670014",
        "type": "exec",
        "z": "4ea4ea10d497d4a2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 120,
        "wires": [
            [
                "2422ba6486f43414"
            ],
            [
                "2422ba6486f43414"
            ],
            []
        ]
    },
    {
        "id": "b018e75fcbd098f5",
        "type": "change",
        "z": "4ea4ea10d497d4a2",
        "name": "build",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.command",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "40859f5bdb670014"
            ]
        ]
    },
    {
        "id": "0b2a9f47aa02a4e3",
        "type": "ui_button",
        "z": "4ea4ea10d497d4a2",
        "name": "",
        "group": "26efa8b3edfbcd2c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clean Output",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "2422ba6486f43414"
            ]
        ]
    },
    {
        "id": "b7ef247e12011f80",
        "type": "ui_button",
        "z": "4ea4ea10d497d4a2",
        "name": "",
        "group": "26efa8b3edfbcd2c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Power Off",
        "tooltip": "",
        "color": "black",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "sudo poweroff",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "40859f5bdb670014"
            ]
        ]
    },
    {
        "id": "e1361f012fbdaabe",
        "type": "ui_button",
        "z": "4ea4ea10d497d4a2",
        "name": "",
        "group": "26efa8b3edfbcd2c",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "sudo reboot -h now",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "40859f5bdb670014"
            ]
        ]
    },
    {
        "id": "fd87040a7cb95c83",
        "type": "ui_form",
        "z": "4ea4ea10d497d4a2",
        "name": "",
        "label": "",
        "group": "26efa8b3edfbcd2c",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Command",
                "value": "command",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "command": ""
        },
        "payload": "",
        "submit": "Exec",
        "cancel": "Clean",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "b018e75fcbd098f5"
            ]
        ]
    },
    {
        "id": "2422ba6486f43414",
        "type": "ui_template",
        "z": "4ea4ea10d497d4a2",
        "group": "26efa8b3edfbcd2c",
        "name": "STDOUT",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<p><b>STDOUT:</b></p>\n<pre><code>\n{{msg.payload}}\n</code></pre>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2fac53ea6fda2c89",
        "type": "inject",
        "z": "86db80df1a7d44c2",
        "name": "120",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "120",
        "payloadType": "num",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "0dfbca6bd99231c5"
            ]
        ]
    },
    {
        "id": "474aa2c6caacec56",
        "type": "inject",
        "z": "86db80df1a7d44c2",
        "name": "255",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "255",
        "payloadType": "num",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "0dfbca6bd99231c5"
            ]
        ]
    },
    {
        "id": "62f10f048c17029b",
        "type": "subflow:8667db704fef588d",
        "z": "86db80df1a7d44c2",
        "name": "",
        "env": [
            {
                "name": "direction",
                "value": "out",
                "type": "str"
            },
            {
                "name": "label",
                "value": "20",
                "type": "str"
            },
            {
                "name": "value",
                "value": "1",
                "type": "str"
            },
            {
                "name": "board label",
                "value": "",
                "type": "str"
            }
        ],
        "x": 310,
        "y": 240,
        "wires": []
    },
    {
        "id": "d5e8f41d2614acbf",
        "type": "inject",
        "z": "86db80df1a7d44c2",
        "name": "on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "62f10f048c17029b"
            ]
        ]
    },
    {
        "id": "082476fabd3485a5",
        "type": "inject",
        "z": "86db80df1a7d44c2",
        "name": "off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "62f10f048c17029b"
            ]
        ]
    },
    {
        "id": "0dfbca6bd99231c5",
        "type": "subflow:cbf2f67a932a3e0a",
        "z": "86db80df1a7d44c2",
        "name": "",
        "x": 310,
        "y": 120,
        "wires": []
    }
]