raspberry-config/flows.json
[
    {
        "id": "1b74ef80f309d060",
        "type": "tab",
        "label": "Driver",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8ee14ccbde4c62fc",
        "type": "tab",
        "label": "Acquisition",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ea4ea10d497d4a2",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7cfa19a2e524cefd",
        "type": "serial-port",
        "serialport": "/dev/ttyS0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "10",
        "bin": "false",
        "out": "interbyte",
        "addchar": "",
        "responsetimeout": "1000"
    },
    {
        "id": "fc9f7d7d7f09ed4a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#555753",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#555753",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#555753",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#7b7e78",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#555753",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cf04793d64cc8d9f",
        "type": "ui_tab",
        "name": "System Manager",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "26efa8b3edfbcd2c",
        "type": "ui_group",
        "name": "Terminal",
        "tab": "cf04793d64cc8d9f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "30353d458229c05b",
        "type": "ui_spacer",
        "z": "4ea4ea10d497d4a2",
        "name": "spacer",
        "group": "26efa8b3edfbcd2c",
        "order": 2,
        "width": "0",
        "height": "0"
    },
    {
        "id": "c532b0d9fe3f54e4",
        "type": "ui_spacer",
        "z": "4ea4ea10d497d4a2",
        "name": "spacer",
        "group": "26efa8b3edfbcd2c",
        "order": 4,
        "width": "0",
        "height": "0"
    },
    {
        "id": "e32111f57d357328",
        "type": "ui_spacer",
        "z": "4ea4ea10d497d4a2",
        "name": "spacer",
        "group": "26efa8b3edfbcd2c",
        "order": 6,
        "width": "0",
        "height": "0"
    },
    {
        "id": "a425446c30ef1936",
        "type": "ui_tab",
        "name": "System Acquisition",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6343f24e788b14f8",
        "type": "ui_group",
        "name": "Driver",
        "tab": "a425446c30ef1936",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3fceefba9605fc0b",
        "type": "ui_group",
        "name": "Motor Left Power",
        "tab": "a425446c30ef1936",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2504fd717f7cff36",
        "type": "ui_spacer",
        "z": "8ee14ccbde4c62fc",
        "name": "spacer",
        "group": "3fceefba9605fc0b",
        "order": 2,
        "width": "1",
        "height": "2"
    },
    {
        "id": "88b21ca230de636a",
        "type": "ui_group",
        "name": "Motor Right Power",
        "tab": "a425446c30ef1936",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e236855006ed37d8",
        "type": "ui_spacer",
        "z": "8ee14ccbde4c62fc",
        "name": "spacer",
        "group": "88b21ca230de636a",
        "order": 3,
        "width": "1",
        "height": "2"
    },
    {
        "id": "650713c06214601f",
        "type": "serial out",
        "z": "1b74ef80f309d060",
        "name": "",
        "serial": "7cfa19a2e524cefd",
        "x": 960,
        "y": 860,
        "wires": []
    },
    {
        "id": "8402f28646d9da62",
        "type": "function",
        "z": "1b74ef80f309d060",
        "name": "clean",
        "func": "msg.payload = msg.payload.replaceAll('\\n', '').replaceAll('\\r', '').replaceAll(' ', '');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 760,
        "wires": [
            [
                "46e0b04cab40199a"
            ]
        ]
    },
    {
        "id": "46e0b04cab40199a",
        "type": "json",
        "z": "1b74ef80f309d060",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 760,
        "wires": [
            [
                "6a46d6df6813c81c",
                "52f62959fd1a96cb"
            ]
        ]
    },
    {
        "id": "65596c16dc010ea0",
        "type": "udp in",
        "z": "1b74ef80f309d060",
        "name": "",
        "iface": "",
        "port": "42420",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "8402f28646d9da62"
            ]
        ]
    },
    {
        "id": "6a46d6df6813c81c",
        "type": "switch",
        "z": "1b74ef80f309d060",
        "name": "type",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 570,
        "y": 760,
        "wires": [
            [
                "7a3cfe9e0a9ccb55"
            ],
            [
                "35933b37652e0e4f"
            ],
            [
                "35933b37652e0e4f"
            ]
        ]
    },
    {
        "id": "35933b37652e0e4f",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "s:0/",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 860,
        "wires": [
            [
                "650713c06214601f"
            ]
        ]
    },
    {
        "id": "52f62959fd1a96cb",
        "type": "debug",
        "z": "1b74ef80f309d060",
        "name": "gamepad",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "85a8e587146b89ba",
        "type": "serial out",
        "z": "1b74ef80f309d060",
        "name": "",
        "serial": "7cfa19a2e524cefd",
        "x": 1320,
        "y": 440,
        "wires": []
    },
    {
        "id": "44d4c44397294907",
        "type": "inject",
        "z": "1b74ef80f309d060",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "6bf0496d781ef03a",
                "77534bbc79933f98"
            ]
        ]
    },
    {
        "id": "4322be7359c13e46",
        "type": "debug",
        "z": "1b74ef80f309d060",
        "name": "stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "6f03e7b938328681",
        "type": "debug",
        "z": "1b74ef80f309d060",
        "name": "stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "7399d8a4bca62233",
        "type": "debug",
        "z": "1b74ef80f309d060",
        "name": "code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "6bf0496d781ef03a",
        "type": "exec",
        "z": "1b74ef80f309d060",
        "command": "python3 /home/tars/voyager/gameped2.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "gameped2",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "4322be7359c13e46"
            ],
            [
                "6f03e7b938328681"
            ],
            [
                "7399d8a4bca62233"
            ]
        ]
    },
    {
        "id": "6fd9094ae65ddfe3",
        "type": "rpi-gpio out",
        "z": "1b74ef80f309d060",
        "name": "motor driver",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "77534bbc79933f98",
        "type": "ui_switch",
        "z": "1b74ef80f309d060",
        "name": "",
        "label": "Motor Driver ",
        "tooltip": "",
        "group": "6343f24e788b14f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 260,
        "wires": [
            [
                "6fd9094ae65ddfe3",
                "562324a837485fcf"
            ]
        ]
    },
    {
        "id": "397600f488bfd5aa",
        "type": "switch",
        "z": "1b74ef80f309d060",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "a57ec06618806d60"
            ],
            [
                "73817894f00b1080"
            ]
        ]
    },
    {
        "id": "a57ec06618806d60",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ENABLED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 240,
        "wires": [
            [
                "3532c2b0e1d1f231"
            ]
        ]
    },
    {
        "id": "73817894f00b1080",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DISABLED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 280,
        "wires": [
            [
                "3532c2b0e1d1f231"
            ]
        ]
    },
    {
        "id": "fca81e8796f84a51",
        "type": "ui_gauge",
        "z": "1b74ef80f309d060",
        "name": "",
        "group": "6343f24e788b14f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Left Conjunct",
        "label": "%",
        "format": "{{motor_left_conjunct}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1790,
        "y": 640,
        "wires": []
    },
    {
        "id": "446f5ea8330b72d7",
        "type": "range",
        "z": "1b74ef80f309d060",
        "minin": "0",
        "maxin": "64934",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": false,
        "property": "motor_left_conjunct",
        "name": "%",
        "x": 1610,
        "y": 640,
        "wires": [
            [
                "fca81e8796f84a51"
            ]
        ]
    },
    {
        "id": "c030b65218e2de62",
        "type": "ui_gauge",
        "z": "1b74ef80f309d060",
        "name": "",
        "group": "6343f24e788b14f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Right Conjunct",
        "label": "%",
        "format": "{{motor_right_conjunct}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1800,
        "y": 720,
        "wires": []
    },
    {
        "id": "cf5102e9e247b90a",
        "type": "range",
        "z": "1b74ef80f309d060",
        "minin": "0",
        "maxin": "64934",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": false,
        "property": "motor_right_conjunct",
        "name": "%",
        "x": 1610,
        "y": 720,
        "wires": [
            [
                "c030b65218e2de62"
            ]
        ]
    },
    {
        "id": "562324a837485fcf",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "driver status",
        "rules": [
            {
                "t": "set",
                "p": "driver_status",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 260,
        "wires": [
            [
                "397600f488bfd5aa"
            ]
        ]
    },
    {
        "id": "7a3cfe9e0a9ccb55",
        "type": "switch",
        "z": "1b74ef80f309d060",
        "name": "driver enabled",
        "property": "driver_status",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 840,
        "y": 680,
        "wires": [
            [
                "c907058360cff543"
            ]
        ]
    },
    {
        "id": "3532c2b0e1d1f231",
        "type": "ui_text",
        "z": "1b74ef80f309d060",
        "group": "6343f24e788b14f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1140,
        "y": 260,
        "wires": []
    },
    {
        "id": "c907058360cff543",
        "type": "switch",
        "z": "1b74ef80f309d060",
        "name": "code",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 680,
        "wires": [
            [
                "34f0fc56b08dafcd"
            ],
            [
                "34b6e693400ff0cf"
            ]
        ]
    },
    {
        "id": "f34f4ee667678787",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "flow to payload",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.ml1",
                "pt": "msg",
                "to": "motor_left1",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.ml2",
                "pt": "msg",
                "to": "motor_left2",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.mr1",
                "pt": "msg",
                "to": "motor_right1",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "payload.mr2",
                "pt": "msg",
                "to": "motor_right2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 420,
        "wires": [
            [
                "9b4d1e05f7744c52"
            ]
        ]
    },
    {
        "id": "65a6a33a64a4108c",
        "type": "function",
        "z": "1b74ef80f309d060",
        "name": "build command",
        "func": "msg.payload = msg.payload.replaceAll('\"', '').replaceAll(\"'\", '').replaceAll(':', '=').replaceAll('{', '').replaceAll('}', '');\nmsg.payload = msg.payload + '\\n';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 420,
        "wires": [
            [
                "6053089771603b4c",
                "85a8e587146b89ba"
            ]
        ]
    },
    {
        "id": "9b4d1e05f7744c52",
        "type": "json",
        "z": "1b74ef80f309d060",
        "name": "JSON to String",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 940,
        "y": 420,
        "wires": [
            [
                "65a6a33a64a4108c"
            ]
        ]
    },
    {
        "id": "20c365c9c5e8c2b8",
        "type": "range",
        "z": "1b74ef80f309d060",
        "minin": "-32768",
        "maxin": "-1",
        "minout": "64934",
        "maxout": "0",
        "action": "clamp",
        "round": false,
        "property": "payload.value",
        "name": "< 0",
        "x": 1290,
        "y": 700,
        "wires": [
            [
                "cdb0d41b82e95959"
            ]
        ]
    },
    {
        "id": "bf7f2714f090f38d",
        "type": "range",
        "z": "1b74ef80f309d060",
        "minin": "1",
        "maxin": "32767",
        "minout": "0",
        "maxout": "64934",
        "action": "clamp",
        "round": false,
        "property": "payload.value",
        "name": "> 0",
        "x": 1290,
        "y": 740,
        "wires": [
            [
                "da4cd5d782daf39c"
            ]
        ]
    },
    {
        "id": "34b6e693400ff0cf",
        "type": "switch",
        "z": "1b74ef80f309d060",
        "name": "  is value",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1160,
        "y": 720,
        "wires": [
            [
                "20c365c9c5e8c2b8"
            ],
            [
                "bf7f2714f090f38d"
            ]
        ]
    },
    {
        "id": "cdb0d41b82e95959",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "motor_right1",
        "rules": [
            {
                "t": "set",
                "p": "motor_right1",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "motor_right2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "motor_right_conjunct",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 700,
        "wires": [
            [
                "cf5102e9e247b90a"
            ]
        ]
    },
    {
        "id": "da4cd5d782daf39c",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "motor_right2",
        "rules": [
            {
                "t": "set",
                "p": "motor_right2",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "motor_right1",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "motor_right_conjunct",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 740,
        "wires": [
            [
                "cf5102e9e247b90a"
            ]
        ]
    },
    {
        "id": "34f0fc56b08dafcd",
        "type": "switch",
        "z": "1b74ef80f309d060",
        "name": "  is value",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1160,
        "y": 640,
        "wires": [
            [
                "b78cc2c46bfa8e38"
            ],
            [
                "07a4c1d1e2a493f2"
            ]
        ]
    },
    {
        "id": "07a4c1d1e2a493f2",
        "type": "range",
        "z": "1b74ef80f309d060",
        "minin": "1",
        "maxin": "32767",
        "minout": "0",
        "maxout": "64934",
        "action": "clamp",
        "round": false,
        "property": "payload.value",
        "name": "> 0",
        "x": 1290,
        "y": 660,
        "wires": [
            [
                "7b9113cf456c21d6"
            ]
        ]
    },
    {
        "id": "b78cc2c46bfa8e38",
        "type": "range",
        "z": "1b74ef80f309d060",
        "minin": "-32768",
        "maxin": "-1",
        "minout": "64934",
        "maxout": "0",
        "action": "clamp",
        "round": false,
        "property": "payload.value",
        "name": "< 0",
        "x": 1290,
        "y": 620,
        "wires": [
            [
                "dd4304687e45f431"
            ]
        ]
    },
    {
        "id": "dd4304687e45f431",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "motor_left1",
        "rules": [
            {
                "t": "set",
                "p": "motor_left1",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "motor_left2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "motor_left_conjunct",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 620,
        "wires": [
            [
                "446f5ea8330b72d7"
            ]
        ]
    },
    {
        "id": "7b9113cf456c21d6",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "motor_left2",
        "rules": [
            {
                "t": "set",
                "p": "motor_left2",
                "pt": "flow",
                "to": "payload.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "motor_left1",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "motor_left_conjunct",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 660,
        "wires": [
            [
                "446f5ea8330b72d7"
            ]
        ]
    },
    {
        "id": "6053089771603b4c",
        "type": "debug",
        "z": "1b74ef80f309d060",
        "name": "Serial out",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 400,
        "wires": []
    },
    {
        "id": "dd66f99c36d16637",
        "type": "inject",
        "z": "1b74ef80f309d060",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "b20ccccea1930615"
            ]
        ]
    },
    {
        "id": "b20ccccea1930615",
        "type": "change",
        "z": "1b74ef80f309d060",
        "name": "motors on flow",
        "rules": [
            {
                "t": "set",
                "p": "motor_left1",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "motor_left2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "motor_right1",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "motor_right2",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 420,
        "wires": [
            [
                "50b9723da6bbf5b7"
            ]
        ]
    },
    {
        "id": "50b9723da6bbf5b7",
        "type": "trigger",
        "z": "1b74ef80f309d060",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "date",
        "op2type": "nul",
        "duration": "-80",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 530,
        "y": 420,
        "wires": [
            [
                "f34f4ee667678787"
            ]
        ]
    },
    {
        "id": "fe7777783c037a35",
        "type": "serial in",
        "z": "8ee14ccbde4c62fc",
        "name": "",
        "serial": "7cfa19a2e524cefd",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "1ed29ea4b87632da"
            ]
        ]
    },
    {
        "id": "15166346c95d9f81",
        "type": "debug",
        "z": "8ee14ccbde4c62fc",
        "name": "serial read",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "1ed29ea4b87632da",
        "type": "function",
        "z": "8ee14ccbde4c62fc",
        "name": "clean",
        "func": "msg.payload = msg.payload.replaceAll('\\n', '').replaceAll('\\r', '').replaceAll(' ', '');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 240,
        "wires": [
            [
                "38becfd094a34720"
            ]
        ]
    },
    {
        "id": "38becfd094a34720",
        "type": "json",
        "z": "8ee14ccbde4c62fc",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "15166346c95d9f81",
                "bcbe53e103082453",
                "db4e5322d470d5d7",
                "2211d99bdbe794f0",
                "a6e157365651b3f7"
            ]
        ]
    },
    {
        "id": "bcbe53e103082453",
        "type": "range",
        "z": "8ee14ccbde4c62fc",
        "minin": "0",
        "maxin": "64934",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": false,
        "property": "payload.ml1.s",
        "name": "%",
        "x": 590,
        "y": 80,
        "wires": [
            [
                "148ebcc60971e509"
            ]
        ]
    },
    {
        "id": "148ebcc60971e509",
        "type": "ui_gauge",
        "z": "8ee14ccbde4c62fc",
        "name": "",
        "group": "3fceefba9605fc0b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Left 1",
        "label": "%",
        "format": "{{payload.ml1.s}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "e2ba795582babba1",
        "type": "ui_gauge",
        "z": "8ee14ccbde4c62fc",
        "name": "",
        "group": "3fceefba9605fc0b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Left 2",
        "label": "%",
        "format": "{{payload.ml2.s}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "db4e5322d470d5d7",
        "type": "range",
        "z": "8ee14ccbde4c62fc",
        "minin": "0",
        "maxin": "64934",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": false,
        "property": "payload.ml2.s",
        "name": "%",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "e2ba795582babba1"
            ]
        ]
    },
    {
        "id": "ff3218fec29d496a",
        "type": "ui_gauge",
        "z": "8ee14ccbde4c62fc",
        "name": "",
        "group": "88b21ca230de636a",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Right 1",
        "label": "%",
        "format": "{{payload.mr1.s}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "0fb982e52edb278f",
        "type": "ui_gauge",
        "z": "8ee14ccbde4c62fc",
        "name": "",
        "group": "88b21ca230de636a",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Motor Right 2",
        "label": "%",
        "format": "{{payload.mr2.s}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "2211d99bdbe794f0",
        "type": "range",
        "z": "8ee14ccbde4c62fc",
        "minin": "0",
        "maxin": "64934",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": false,
        "property": "payload.mr1.s",
        "name": "%",
        "x": 590,
        "y": 380,
        "wires": [
            [
                "ff3218fec29d496a"
            ]
        ]
    },
    {
        "id": "a6e157365651b3f7",
        "type": "range",
        "z": "8ee14ccbde4c62fc",
        "minin": "0",
        "maxin": "64934",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": false,
        "property": "payload.mr2.s",
        "name": "%",
        "x": 590,
        "y": 420,
        "wires": [
            [
                "0fb982e52edb278f"
            ]
        ]
    },
    {
        "id": "fd87040a7cb95c83",
        "type": "ui_form",
        "z": "4ea4ea10d497d4a2",
        "name": "",
        "label": "",
        "group": "26efa8b3edfbcd2c",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Command",
                "value": "command",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "command": ""
        },
        "payload": "",
        "submit": "Exec",
        "cancel": "Clean",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "b018e75fcbd098f5"
            ]
        ]
    },
    {
        "id": "40859f5bdb670014",
        "type": "exec",
        "z": "4ea4ea10d497d4a2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 120,
        "wires": [
            [
                "2422ba6486f43414"
            ],
            [
                "2422ba6486f43414"
            ],
            []
        ]
    },
    {
        "id": "0b2a9f47aa02a4e3",
        "type": "ui_button",
        "z": "4ea4ea10d497d4a2",
        "name": "",
        "group": "26efa8b3edfbcd2c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clean Output",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "2422ba6486f43414"
            ]
        ]
    },
    {
        "id": "b018e75fcbd098f5",
        "type": "change",
        "z": "4ea4ea10d497d4a2",
        "name": "build",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.command",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "40859f5bdb670014"
            ]
        ]
    },
    {
        "id": "2422ba6486f43414",
        "type": "ui_template",
        "z": "4ea4ea10d497d4a2",
        "group": "26efa8b3edfbcd2c",
        "name": "STDOUT",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<p><b>STDOUT:</b></p>\n<pre><code>\n{{msg.payload}}\n</code></pre>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b7ef247e12011f80",
        "type": "ui_button",
        "z": "4ea4ea10d497d4a2",
        "name": "",
        "group": "26efa8b3edfbcd2c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Power Off",
        "tooltip": "",
        "color": "black",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "sudo poweroff",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "40859f5bdb670014"
            ]
        ]
    },
    {
        "id": "e1361f012fbdaabe",
        "type": "ui_button",
        "z": "4ea4ea10d497d4a2",
        "name": "",
        "group": "26efa8b3edfbcd2c",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "sudo reboot -h now",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "40859f5bdb670014"
            ]
        ]
    }
]